.content {
    -fx-font: 10px "System";
    -fx-background-color: #36393e;
    -fx-padding: 1 4 -1 4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 0;
}

.content-box {
    -fx-font: 10px "System";
    -fx-background-color: #36393e;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 0;
}

#button.content-box-factory:hover {
    -fx-text-fill: white;
}

.tree-view {
    -fx-font: 13px "System";
    -fx-background-color: #36393e;
    -fx-padding: 1 4 -1 4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 0;
}

.tree-cell:selected {
    -fx-font-weight: bold;
}

.tree-cell {
    -fx-font: 13px "System";
    -fx-background-color: #36393e;
    -fx-padding: 1 4 -1 4;
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

.toolbar {
    -fx-background-color: #2f3136;
}

.menu-bar {
    -fx-background-color: #36393e;
    -fx-padding: 0 0 0 0;
}

.context-menu {
    -fx-background-color: #2f3136;
    -fx-padding: 0 0 0 0;
}

.menu-item {
    -fx-background-color: #2f3136;
    -fx-padding: 3 3 3 3;
}

.menu-item:hover {
    -fx-background-color: #36393e;
}

.canvas {
    -fx-background-color: #000000;
}

.label {
    -fx-font: 13px "System";
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-text-fill: white;
}

.button {
    -fx-font: 11px "System";
    -fx-background-color: transparent;
    -fx-padding: 4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 0;
}

.button:hover {
    -fx-background-color: #0ba1da;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 1px, 1px, 1px, 1px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.content-box-factory:hover {
    -fx-background-color: #4d5058;
}

.box {
    -fx-background-color: #33353a;
}

.button-box {
    -fx-background-color: #2f3136;
}

.text-field {
    -fx-background-color: #474b51;
    -fx-padding: 5;
    -fx-font: 10px "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 0 0 0 0;
}

.scroll-bar {
    -fx-background-color: #2f3136;
}

.scroll-bar .thumb {
    -fx-background-color: #1e2124;
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover {
    -fx-background-color: #2f3136;
}

.scroll-pane > .viewport {
    -fx-background-color: #36393e;
}

.scroll-pane {
    -fx-background-color: #36393e;
}

.chart {
    -fx-font: 12px "System";
    -fx-background-color: #36393e;
    -fx-padding: 1 4 -1 4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 0;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: #637282;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #637282;
}

.chart-alternative-row-fill {
    -fx-fill: #393c44;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
    -fx-font-family: "System";
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 20px;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: white;
    -fx-font-family: "System";
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-label {
    -fx-text-fill: white;
}

.default-color0.chart-symbol { /* hollow circle */
    -fx-background-color: #d5362c;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 1px;
    -fx-padding: 1px;
}

.choice-box {
    -fx-background-color: #474b51;
    -fx-font-family: "System";
    -fx-max-width: 90px;
}
